.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100vh; */
  min-height: calc(100vh - 251px);
  margin-top: 25px;
  margin-bottom: 25px;
}

.featuresList {
  list-style: none;
  padding-left: 1em;
}

.featuresList li:before {
  content: "\2713\0020";
  color: #28a745;
}
