.image-gallery-download-button {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 36px;
  height: 36px;
  margin: 20px;
  filter: drop-shadow(rgb(26, 26, 26) 0px 2px 2px);
  z-index: 999;
}

@media (max-width: 768px) {
  .image-gallery-download-button {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 480px) {
  .image-gallery-download-button {
    width: 16px;
    height: 16px;
  }
}