.masonry.rows {
  display: flex;
  flex-wrap: wrap;
}

.masonry.rows > .brick {
  height: 325px;
  max-height: 325px;
  padding: 5px;
  flex: 1 0 auto;
}

.masonry.rows > .brick img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.masonry.cols {
  columns: 6 200px;
  column-gap: 10px;
}

.masonry.cols > .brick {
  margin-bottom: 5px;
}

.masonry.tiles {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .masonry.tiles > .brick {
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .masonry.tiles > .brick {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .masonry.tiles > .brick {
    width: 16.66%;
  }
}

.masonry.tiles > .brick {
  /* width: 16.66%; */
  padding: 5px;
  aspect-ratio: 1 / 1;
}

.masonry.tiles > .brick img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
