.thumbnail-container {
  display: block;
  padding-top: 100%;
  position: relative;
}

.thumbnail-image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
