html, body, #root {
  min-height: 100vh;
}

.main-container {
  position: relative;
  min-height: calc(100vh - 373px);
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: transparent !important;
}
